*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  text-decoration: none;
}

:root{
  --bg-color: #1E1E24;
  --bg-color-2: #F4FFF8;
  --bg-color-3: #2176FF;
  --border-color: aqua;
  --border-color-2: black;
  --text-color: white;
  --text-color-2: black;
}

body{
  color: var(--text-color);
  text-align: center;
  height: 100vh;
  background-color: var(--bg-color);
}

nav{
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 2rem;
  text-shadow: 0 0 5px var(--text-color-2);
  background-color: var(--bg-color-3);
}

.container *{
  border-radius: 10px;
}

.container{
  display: grid;
  place-items: center;
  width: clamp(300px, 50%, 400px);
  margin: 3rem auto;
  background-color: var(--bg-color-2);
  border-radius: 10px;
  padding: 5px;
}

.infoCard {
  padding: 10px;
  text-align: left;
  color: var(--text-color-2);
  border: 4px solid var(--border-color-2);
  background-color: var(--bg-color-3);
}

.imgContent{
  text-align: center;
  width: 150px;
  margin: 5px auto;
}

.btn{
  color: var(--bg-color-3);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 5px 10px;
  border: 2px solid var(--bg-color-3);
  border-radius: 10px;
  background-color: transparent;
  transition: .1s ease;
}

.btn:active{
  transform: scale(0.95);
}